.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






body, html {
height: 100%;
}
.bg {
background-image: url("./components/email.png");
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}



html,
body{
 height: 100%;
}

#cover {
  background: #222 url('') center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
  width: 100%;
  padding-bottom: 60px
}











#form-buscar >.form-group >.input-group > .form-control {
    height: 80px;
    width: 150px

}
#form-buscar >.form-group >.input-group > .input-group-btn > .btn{
        height: 80px;
        font-size: 25px;
        font-weight: 700;
        padding-right:40px;


}
#form-buscar >.form-group >.input-group > .input-group-btn > .btn .glyphicon{
 margin-right:20px;
}


#form-buscar >.form-group >.input-group > .form-control {
    font-size: 30px;
    font-weight: 400;

}

#form-buscar >.form-group >.input-group > .form-control:focus {
  border-color: #33A444;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
}
